@import "~src/web/client/scss/mixins";

.main {
  // @include main;
  // height: 1500px;
}

.form {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  background: rgba(white, .8);
  border-radius: 3px;
  box-sizing: border-box;
  margin: 20px auto;
}
