@import "~src/web/client/scss/mixins";
@import "~src/web/client/scss/variables";

.wrapper {
  @include whiteBox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:hover {
    // @include whiteBoxHover;
    color: inherit;
  }
}

.main {
  
}

.profileName {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}

.profileDescription {
  margin: #{$smallGutter}px 0 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
