@import "~src/web/client/scss/mixins";
@import "~src/web/client/scss/variables";

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $dimGrey;
  padding: 5px;
  height: 25px;
  width: 25px;
  font-size: 20px;

  &:hover {
    color: $darkGrey;
  }
}

.main, .main:hover {
  background: none; // rbga(#fff, .5);
  border: none;
}