@import "~src/web/client/scss/mixins";

$headerTop: rgba($black, .6);
$mobileNavBg: rgba($whiteSmoke, .9);

.wrapper {
  width: 100%;
  background: linear-gradient(to bottom, $headerTop, $headerTop 20%, transparent 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  @include main;
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0 10px;
}

.main {
  color: $white;
  flex-grow: 1;
  display: flex;
  position: relative;
  height: 100%;
}

.title {
  font-size: 5rem;
  text-decoration: none;
  color: $white;

  &:hover {
    color: $white;
  }
}

.nav {
  opacity: 0;
  list-style: none;
  position: absolute;
  top: 63px;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: $mobileNavBg;

  .showMenu & {
    opacity: 1;
  }

  @include media($tabletWidth, 0) {
    opacity: 1;
    background-color: transparent;
    flex-direction: row;
    position: relative;
    top: 0;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }

  li {
    margin: 15px 25px;

    @include media($tabletWidth, 0) {
      margin: 0 20px;
    }
  }

  a {
    color: $darkestGrey;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.8rem;

    &:hover {
      color: $dimGrey;
    }

    @include media($tabletWidth, 0) {
      color: $whiteSmoke;
    }
  }
}

.hamburger {
  position: absolute;
  top: 15px;
  right: 0px;
  font-size: 40px;
  cursor: pointer;

  .showMenu &  {
    background-color: $mobileNavBg;
  }

  @include media($tabletWidth, 0) {
    right: auto;
    left: -1000px;
  }
}
