@import "./variables";

@mixin main {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
}

@mixin media($min, $max) {
  @if $max == 0 {
    @media (min-width: $min) {
      @content;
    }
  } @else if $min == 0 {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}

@mixin headingLink {
  color: $dimGrey;
  text-decoration: none;

  &:hover {
    color: $linkHoverBlue;
  }
}

@mixin whiteBox {
  padding: #{$smallGutter}px;
  background: rgba(white, .8);
  border-radius: 3px;
  box-sizing: border-box;
}

@mixin pageHeader {
  padding: $smallGutter;
  background: rgba(#000, .25);
  color: #fff;

  >div {
    @include main;
    display: flex;
    align-items: center;
    padding: 5px;

    >* {
      padding: 0 #{$largeGutter}px;
      border-left: 1px solid $whiteSmoke;
      margin: 0;
  
      &:first-child {
        padding-left: 0;
        border-left: none;
      }
    }
  }
}

@mixin pageHeaderTitle {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
}

@mixin pageSubHeader {
  padding: $smallGutter;
  background: rgba(#000, .2);
  color: #fff;
}

@mixin aspectRatio($width, $height) {
  &::before {
    display: block;
    content: "";
    padding-top: ($height / $width) * 100%;
  }
}

@mixin imageHolder {
  background: no-repeat center;
  background-size: cover;
}

@mixin postDate {
  color: $dimGrey;
  font-size: 1.2rem;
}

@mixin pageHeading {
  margin: 10px 0;
}

@mixin sideBarWrapper($noBoxRight:false) {
  display: flex;
  align-items: flex-start;

  >* {
    &:first-child {
      @include whiteBox;
      width: 30%;
      margin-right: #{$largeGutter}px;
      color: $dimGrey;
    }

    &:last-child {
      @if $noBoxRight == false {
        @include whiteBox;
      }

      width: 70%;
    }
  }
}

@mixin rightSideBarWrapper {
  display: flex;
  align-items: flex-start;

  >* {
    @include whiteBox;

    &:first-child {
      width: 70%;
      margin-right: #{$largeGutter}px;
    }

    &:last-child {
      width: 30%;
    }
  }
}
