@import "~src/web/client/scss/mixins";
@import "~src/web/client/scss/variables";

.formRow {
  margin: 0 0 35px;
  position: relative;
}

.formRowShort {
  @extend .formRow;
  margin: 0 0 #{$largeGutter}px;
}

.fieldError {
  color: red;
  position: absolute;
  top: 58px;
}

.formError {
  color: red;
  margin: #{largeGutter}px 0;
}
