@import "~src/web/client/scss/mixins";
@import "~src/web/client/scss/variables";

.main {
  display: flex;
  flex-direction: column;
}

.profile {
  @include pageHeader;
}

.profileContent {
  .profileName {
    @include pageHeaderTitle;
    cursor: pointer;
  }
}

.itineraries {
  @include main;
  /* display: flex;
  flex-direction: column;*/
}

.itinerariesHeading {
  composes: pageContentHeader;
}