@import "~src/web/client/scss/mixins";
@import "~src/web/client/scss/variables";

.main {
  display: flex;
  flex-direction: column;
}

.profile {
  @include pageHeader;
}

.profileContent {
  @include main;
  display: flex;
  align-items: center;
  padding: 5px;

  .profileName {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
    cursor: pointer;
  }

  >* {
    padding: 0 #{$largeGutter}px;
    border-left: 1px solid $whiteSmoke;
    margin: 0;

    &:first-child {
      padding-left: 0;
      border-left: none;
    }
  }
}

.itineraries {
  @include main;
  display: flex;
  flex-direction: column;

  >div {
    @include whiteBox;
    margin: #{$smallGutter}px 0;
  }
}